@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Open+Sans&display=swap');

* { box-sizing: border-box }

body {
    margin: 0;
    background: #efefef;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    color: #111;
    box-sizing: border-box;
}

#main_navigation {
    background: #111;
    height: 82px;
    width: 100%;
    display: flex;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fff;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
    box-sizing: border-box;
}
#main_navigation .inner {
    width: 100%;
    height: 34px;
    margin: 0 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main_navigation .inner ul {
    list-style-type: none;
    margin: 0;
}
#main_navigation .inner ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
#main_navigation .inner ul li i {
    margin-right: 6px;
}

.frontmatter {
    height: 636px;
    z-index: 1;
    background: linear-gradient(#3C8B4E, #9CBC58);
    width: 100%;
    position: absolute;
}
main { flex-grow: 1; display: flex; flex-direction: column; margin-bottom: 48px; }

.fm-content {
    margin: 91px auto;
    width: calc(100% - 48px);
    z-index: 2;
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}

.fm-content h4 { font-size: 18px; font-weight: normal; margin: 0; font-style: italic }
.fm-content h1 { font-size: 48px; font-weight: bold; margin-top: 6px; margin-bottom: 12px; }
.fm-content h2 { font-size: 24px; font-weight: normal; margin: 0 }

.content {
    max-width: 1122px;
    width: calc(100% - 48px);
    background: #fff;
    margin: 0 auto;
    z-index: 2;
    border-radius: 4px;
    padding: 85px 24px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.16);
}
.content h1 { margin: 8px 0 32px; font-family: 'IBM Plex Sans', sans-serif; font-size: 38px; }
.content h5 { margin: 0; font-family: 'IBM Plex Sans', sans-serif; font-size: 18px }
.content p { max-width: 534px; margin: 0 auto; line-height: 150%; font-size: 16px }

#title { font-size: 24px; font-weight: bold; }

.inner { display: flex; }
main .inner {
    display: flex;
    flex-direction: column;
}

footer {
    background: #fff;
    height: 82px;
    width: 100%;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    color: #111;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}
footer .inner {
    margin: 52px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .inner p {
    margin: 0;
    display: flex;
    font-size: 14px;
}

footer .inner .col:first-child { font-size: 18px; }
footer .inner .col:last-child { font-size: 16px; }
footer .inner ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
    font-size: 14px;
}
footer .inner ul li {
    display: inline;
    margin: 0 16px;
}
footer .inner ul li:last-child { margin: 0 0 0 16px }
footer .inner ul li:first-child { margin: 0 16px 0 0 }
footer .inner ul li a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
footer .inner ul li i {
    margin-right: 6px;
}

@media (max-width: 850px) {
    footer .inner {
        flex-direction: column;
        text-align: center;
    }
    footer .inner .col:first-child {
        margin-bottom: 12px;
    }
    footer .inner ul { display: block }
    footer .inner ul li { display: inline }
}